{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <div class="container">
        {% include "includes/alerts.html" %}
        <div class="row">
            <aside class="col-md-3">
                <!--   SIDEBAR   -->
                <ul class="list-group">
                    <a class="list-group-item active" href="#"> Mening buyurtmalar tarixi </a>
                    <a class="list-group-item" href="#"> Tranzaksiya </a>
                    <a class="list-group-item" href="#"> Qaytish va qaytarish </a>
                    <a class="list-group-item" href="#">Sozlamalar </a>
                        <a class="list-group-item" href="#"> Mening sotuvdagi mahsulotlarim </a>
                    <a class="list-group-item" href="#"> Qabul qilingan buyurtmalar </a>
                </ul>
                <br>
                <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log
                        out</span> </a>
                <!--   SIDEBAR .//END   -->
            </aside>
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Order ID: 6123456789</strong>
                        <span>Buyurtma sanasi: 2024 yil 26 iyul</span>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h6 class="text-muted">Yetkazib berish</h6>
                                <p>Abdullayev Sanjarbek <br>
                                    Tel: +99890-026-05-06 Email: sanjarbekabdullayev992@gmail.com <br>
                                    Manzil: Toshkent viloyati, Bekobod tumani, Navbahor ko'chasi,32-uy <br>
                                    Pochta indeksi: 100123
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="text-muted">To'lov</h6>
                                <span class="text-success">
                                    <i class="fab fa-lg fa-cc-visa"></i>
                                    Visa **** 4216
                                </span>
                                <p>Jami: $356 <br>
                                    Yetkazib berish: $56 <br>
                                    <span class="b">Umumiy: $456 </span>
                                </p>
                            </div>
                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <td width="65">
                                    <img src="../images/items/1.jpg" class="img-xs border">
                                </td>
                                <td>
                                    <p class="title mb-0">Mahsulot nomi shu yerda </p>
                                    <var class="price text-muted">USZ 145</var>
                                </td>
                                <td> Sotuvchi <br> Nike kiyimlari</td>
                                <td width="250"> <a href="#" class="btn btn-outline-primary">Buyurtmani kuzatish</a> <a href="#"
                                        class="btn btn-light"> Tafsilotlar </a> </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../images/items/2.jpg" class="img-xs border">
                                </td>
                                <td>
                                    <p class="title mb-0">Boshqa joyga borish </p>
                                    <var class="price text-muted">USZ 15</var>
                                </td>
                                <td> Sotuvchi <br> Sanjar Shop </td>
                                <td> <a href="#" class="btn btn-outline-primary">Buyurtmani kuzatish</a> <a href="#"
                                        class="btn btn-light"> Tafsilotlar </a> </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../images/items/3.jpg" class="img-xs border">
                                </td>
                                <td>
                                    <p class="title mb-0">Boshqa joyga borish </p>
                                    <var class="price text-muted">USZ 145</var>
                                </td>
                                <td> Sotuvchi <br> Wallmart </td>
                                <td> <a href="#" class="btn btn-outline-primary">Buyurtmani kuzatish</a> <a href="#"
                                        class="btn btn-light"> Tafsilotlar </a> </td>
                            </tr>
                        </table>
                    </div> <!-- Jadvalga javob beradi .end// -->
                </article> <!-- Buyurtma guruhi.// -->
            </main>
        </div> <!-- row.// -->
    </div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}